.DS_Store
venv/
/.version
lib/

# We dont want to commit data arefacts
# leaving csv, json for now
**.xlsx
**.zip
***.pkl
**.bak
**.dat
**.log
**.html

# our local datastores
data_local/*.duckdb
data_local/*.parquet
data_local/*.csv
# our DVC managed "remote" storage
data_dvc_remote/

# mlflow run and tracking data
mlruns/

# dont commit python compiled files or ipython auto saves
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.idea
*.pyc
.pytest_cache
*.duckdb
*.wal
